<a href="https://colab.research.google.com/github/sarthak-314/Book-Recommender-System/blob/master/Base%20Models/Cosine%20Similarity%20of%20Soup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Cosine Similarity of Soup**
***

In [ ]:
import pandas as pd
import os
%cd /content/drive/My\ Drive
DF_PATH = './Colab Notebooks/CADABRA/Recommender System/goodreads-10k'
books = pd.read_csv(os.path.join(DF_PATH, 'books.csv'))

/content/drive/My Drive

In [ ]:
books.head(3)

   book_id  ...                                    small_image_url
0        1  ...  https://images.gr-assets.com/books/1447303603s...
1        2  ...  https://images.gr-assets.com/books/1474154022s...
2        3  ...  https://images.gr-assets.com/books/1361039443s...

[3 rows x 23 columns]

Creating a soup or bag of words kind of thing

In [ ]:
book_tags.head()

   goodreads_book_id  tag_id   count tag_name
0                  1   30574  167697  to-read
1                  2   30574   24549  to-read
2                  3   30574  496107  to-read
3                  5   30574   11909  to-read
4                  6   30574     298  to-read

In [ ]:
soup = books.books_count.apply(str) + ' ' + books.authors + ' ' + books.title + ' ' + books.average_rating.apply(int).apply(str)
soup.head()

0    272 Suzanne Collins The Hunger Games (The Hung...
1    491 J.K. Rowling, Mary GrandPr√© Harry Potter a...
2        226 Stephenie Meyer Twilight (Twilight, #1) 3
3               487 Harper Lee To Kill a Mockingbird 4
4          1356 F. Scott Fitzgerald The Great Gatsby 3
dtype: object

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(soup)

cosine_similarity = cosine_similarity(count_matrix, count_matrix)

In [ ]:
#Returns (book_id, similarity_score)
def get_n_recommendations(book_id, n):
    idx = book_id - 1
    #Get pairwise similarity scores with all the books
    similarity_scores = [x for x in enumerate(cosine_similarity[idx]) if x[1] != 0]
    similarity_scores.sort(key = lambda x : x[1], reverse=True)
    return [(x[0]+1, x[1]) for x in similarity_scores[:n]]

In [ ]:
get_n_recommendations(1, 3)

[(1, 1.0000000000000002), (507, 0.7715167498104596), (17, 0.7071067811865477)]

In [ ]:
book_id, n  = 2, 5
print('Book Name :', books.iloc[book_id-1].title)
print(n, 'most similar books: ')
for id, _ in get_n_recommendations(book_id, n):
    print('  *', books.iloc[id-1].title)

Book Name : Harry Potter and the Sorcerer's Stone (Harry Potter, #1)
5 most similar books:
  * Harry Potter and the Sorcerer's Stone (Harry Potter, #1)
  * Harry Potter and the Goblet of Fire (Harry Potter, #4)
  * The Harry Potter Collection 1-4 (Harry Potter, #1-4)
  * Harry Potter and the Order of the Phoenix (Harry Potter, #5)
  * Harry Potter and the Chamber of Secrets (Harry Potter, #2)